body {
    max-width: 600px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    line-height: normal;
    font-family: Consolas,Monospace,Courier;
    background: black;
    background-image: url(/img/stars.gif);
    background-repeat: repeat;
    background-attachment: fixed;
    
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 0px;
    font-weight: bolder;
    font-family: Consolas,Monospace,Courier;
}

h2 {
    font-size: 1.25rem;
    font-family: Consolas,Monospace,Courier;
}

h3 {
    font-size: 1.125rem;
    padding: 12px;
    text-align: center;
    margin: auto;
    margin-top: 8px;
    text-transform: uppercase;
    font-family: Consolas,Monospace,Courier;
    color: rgb(255, 155, 33);
}

p {
    margin-top: 0px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    text-align: justify;
}

p > code {
    color: rgb(255, 198, 128);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1 > a{
    text-decoration: none;
    color: rgb(255, 155, 33);
}

a{
    color: rgb(255, 160, 45);
    text-decoration: none;
    font-weight:700;
}

a:hover{
    color: rgb(255, 200, 134);
    
    text-decoration: none;
}

img {
    display: block;
    border-style: inset;
    max-width: 90%;  
    height: auto;  
    margin: 0 auto;
}

.subtitle
{
    margin-bottom: 0px;
    font-style: italic;
    color: darkgray;
}

.content {
    text-indent: 30px;
}

.date {
    font-weight: bold;
    font-style: italic;
    margin-bottom: 12px;
}

.stuff {
    margin: 0 auto;
    background-color: rgba(32, 32, 32, 0.75);
    color: rgb(209, 209, 209);
    max-width: 600px;
    border-style: inset;
    margin-bottom: 5px;
    padding: 10px;
}

.footer {
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

.center {
    text-align: center;
    margin: 0 auto;
}

ul#menu {
    margin-top: 20px;
    padding:0;
    list-style-type:none;
    text-align:center;
}
ul#menu li {
    display:inline-block;
    padding-left: 10px;
    padding-right: 10px;
}


.highlight {
    border-style: inset;
    font-size: 14pt;
    margin: 12px;
}

.smalltime {
    font-size: 10pt;
    font-style: italic;
}

.sound audio {
    outline: none;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.alignleft {
    float: left;
    text-align:left;
    width:33.33333%;
    margin-top: 0;
}
.aligncenter {
    float: left;
    text-align:center;
    width:33.33333%;
    margin-top: 0;
}
.alignright {
    float: left;
    text-align:right;
    width:33.33333%;
    margin-top: 0;
}


.tab {
        tab-size: 4;
}

@media(max-width:599px){body{max-width:80%}}

@media(min-width:600px){body{max-width:80%}}

@media(min-width:900px){body{max-width:80%}}

@media(min-width:1440px){body{max-width:60%}}

@media(min-width:1920px){body{max-width:40%}}

@media(min-width:2560px){body{max-width:30%}}
