body {
 
    font-size: 14pt;
    max-width: 600px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    line-height: normal;
    font-family: 'Times New Roman', Times, serif;
    background: black;
    background-image: url(/img/stars.gif);
    background-repeat: repeat;
    background-attachment: fixed;
    
}

h1 {
    font-size: 28pt;
    margin-bottom: 0px;
    font-weight: bolder;
    font-family: Helvetica, Sans-Serif;
}

h2 {
    font-size: 24pt;
    font-family: Helvetica, Sans-Serif;
}

h3 {
    font-size: 18pt;
    padding: 12px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: Helvetica, Sans-Serif;
    color: rgb(255, 155, 33);
}

p {
    margin-top: 0px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    text-align: justify;
}

p > code {
    color: rgb(255, 198, 128);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1 > a{
    text-decoration: none;
    color: rgb(255, 155, 33);
}

a{
    color: rgb(255, 160, 45);
    text-decoration: none;
}

a:hover{
    color: rgb(255, 200, 134);
    
    text-decoration: none;
}

img {
    display: block;
    border-style: inset;
    max-width: 90%;  
    height: auto;  
    margin: 0 auto;
}

.subtitle
{
    margin-bottom: 0px;
    font-style: italic;
    color: darkgray;
}

.content {
    text-indent: 30px;
}

.date {
    font-weight: bold;
    font-style: italic;
    margin-bottom: 12px;
}

.stuff {
    margin: 0 auto;
    background-color: rgba(32, 32, 32, 0.75);
    color: rgb(209, 209, 209);
    max-width: 600px;
    border-style: inset;
    margin-bottom: 5px;
    padding: 10px;
}

.footer {
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.nav {
    margin-top: 0;
    margin-bottom: 0;
}


.highlight {
    border-style: inset;
    font-size: 14pt;
    margin: 12px;
}

.smalltime {
    font-size: 10pt;
    font-style: italic;
}

.sound audio {
    outline: none;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.alignleft {
    float: left;
    text-align:left;
    width:33.33333%;
    margin-top: 0;
}
.aligncenter {
    float: left;
    text-align:center;
    width:33.33333%;
    margin-top: 0;
}
.alignright {
    float: left;
    text-align:right;
    width:33.33333%;
    margin-top: 0;
}
