body {
    background: rgb(198, 198, 198);
    font-size: 14pt;
    max-width: 800px;
    margin: 0 auto;
    line-height: normal;
    font-family: 'Times New Roman', Times, serif
}

h1 {
    font-size: 30pt;
    margin-bottom: 0px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif
}

h2 {
    font-size: 28pt;
    font-family: 'Times New Roman', Times, serif
}

h3 {
    font-size: 20pt;
    padding: 12px;
    text-align: center;
    margin: auto;
    margin-top: 48px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif
}

p {
    margin-top: 0px;
    margin-bottom: 24px;
}

p > code {
  color: rgb(37, 55, 114);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a
{
    text-transform: uppercase;
    text-decoration: none;
}

.subtitle
{
    margin-bottom: 0px;
    font-style: italic;
}

.content {
    text-indent: 30px;
}

.date {
    font-weight: bold;
    font-style: italic;
    margin-bottom: 12px;
}

.stuff {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
}

.footer {
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

.center {
    text-align: center;
    margin: auto;
}

.right {
    text-align: right;
    margin: auto;
}

img {
    display: block;
    border-style: inset;
    max-width: 100%;  
    height: auto;  
    margin: 0 auto;
}

.highlight {
    border-style: inset;
    font-size: 14pt;
    margin: 12px;
}

.smalltime {
    font-size: 10pt;
    font-style: italic;
}
